# Maven
course-registration/target/
course-registration/.mvn/wrapper/maven-wrapper.jar

# Java
*.class
*.jar
*.war
*.ear
*.nar
*.zip
*.tar.gz
*.rar

# Logs
*.log
hs_err_pid*
replay_pid*

# VS Code
.vscode/

# OS
.DS_Store
Thumbs.db

# Docker
*.env
.env.local

# IntelliJ
.idea/
*.iws
*.iml
*.ipr

nginx/certs/